{% extends 'pages/base.html' %}
{% load martortags %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
<div class="ui grid">
	<div class="sixteen wide raised segments column">
		{% for post in latest_post %}
		<div class="ui segment" style="padding: 0 45px;">
			<br>
			<h1 style="font-family: San Francisco;">{{ post.title }}</h1>
			<span style="font-family: San Francisco; font-size: 15px; text-align: right;">{{ post.publish_date }}</span>
			<div class="ui divider"></div>
			<div style="font-family: San Francisco; font-size: 18px;">
				{{ post.description | safe_markdown }}
			</div>
			<br><br>
			<h1 style="font-family: San Francisco;">Các học sinh vi phạm tuần này</h1>
			<div class="ui divider"></div>
			<table class="ui celled padded table" style="font-family: San Francisco; font-size: 18px;">
				<thead>
					<tr style="text-align: center;">
						<th style="width: 15px;">STT</th>
						<th style="width: 150px;">Học sinh vi phạm</th>
						<th style="width: 150px;">Lớp</th>
						<th style="width: 300px;">Lỗi vi phạm</th>
					</tr>
				</thead>
				<tbody>
					{% if post.loi_hs.0 %}
					{% for row in post.loi_hs %}
					<tr style="text-align: center;">
						<td>{{ forloop.counter }}</td>
						{% for col in row %}
						<td>{{ col }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
					{% else %}
					<tr style="text-align: center;">
						<td colspan="4">Tuyệt vời ! Tuần này không có học sinh mắc lỗi</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			<br><br><br>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}