{% extends 'pages/base.html' %}

{% block title %}
Đăng kí -
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'utils/semantic.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'utils/base.css' %}">
<div class="ui centered grid">
	<div class="ui segment">
		<div class="ui form error">
			<form action="/register/" method="post" style="max-width: 600px; font-size: 16px;">
				<br>
				{% csrf_token %}
				<div class="field">
					<label style="text-align: left;">Tên đăng nhập</label>
					<input style="font-family: San Francisco;" type="text" name="usr-name" placeholder="Tên đăng nhập" required>
				</div>
				<div class="field">
					<label style="text-align: left;">Email</label>
					<input style="font-family: San Francisco;" type="email" name="usr-email" placeholder="Email (email chỉ cần thiết cho việc quên mật khẩu)">
				</div>
				<div class="field">
					<label style="text-align: left;">Mật khẩu</label>
					<input style="font-family: San Francisco;" type="password" name="usr-pwd" placeholder="Mật khẩu" required>
				</div><div class="field">
					<label style="text-align: left;">Nhập lại mật khẩu</label>
					<input style="font-family: San Francisco;" type="password" name="re-usr-pwd" placeholder="Mật khẩu" required>
				</div>
				<p style="font-family: San Francisco;">Với việc đăng kí tài khoản, bạn chấp nhận điều khoản và dịch vụ của chúng tôi</p>
				<button type="submit" class="ui right labeled icon blue button" style="font-family: San Francisco; font-size: 16px;">
					<i class="right checkmark icon"></i>
					Đăng kí
				</button>
				{% if msg_err %}
				<div class="ui error message" style="text-align: left; font-family: San Francisco;">
					<div class="header" style="font-family: San Francisco;">Đăng kí thất bại !</div>
					{{ msg_err }}
				</div>
				{% endif %}
			</form>
		</div>
	</div>
</div>
{% endblock %}