{% extends 'pages/base.html' %}

{% block title %}
THDOJ: Đăng kí thành công
{% endblock %}

{% block content %}
<div class="ui centered grid">
	<form class="ui large form success" style="width: 500px;">
		<div class="ui success message" style="font-family: San Francisco;">
			<div class="header" style="font-family: San Francisco;">Đăng kí tài khoản thành công !</div>
			Tài khoản của bạn đã được đăng kí. Bây giờ bạn có thể đăng nhập tại <a href="/login/">đây</a>.
		</div>
	</form>
</div>
{% endblock %}